body{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    
}

p{
    font-family: 'Roboto', sans-serif;
}

.pic-small
{
    max-width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

code{
    color: red;
}

b{
    color: black;
}

.card-header{
    background-color: #5B91A0;
}

h5{
    text-decoration:underline;
    font-weight: bold;
}

.btn{
    font-weight: bold;
}

h2{
    color: white;
}
